{% extends 'tasks/layout.html' %}
{% load static %}

{% block body %}
<section class='container'>
    <div class='row'>
        {% for list in archived_lists %}
            <div class='col-md-4 my-5 text-center'>
            <a href = "{% url 'tasks:list_page' list.id %}">
                <div class='with-shadow mx-4 p-5'>
                <h4 class='font-weight-bold'>{{ list.name }}</h4>
                <p>Created on: <span>{{ list.date_created }}</span></p>
                </div>
            </a>
            </div>
        {% endfor %}
    </div>
</section>

{% endblock %}