{% extends 'tasks/layout.html' %}
{% load static %}

{% block body %}
<div class='justify-content-center'>
    <div class='text-center form-group'>
    <div class='row justify-content-center'>
        <div class='col-md-3'>
            <h1 class='with-bg my-2 py-3'>{{ list.name }}</h1>
            <form action="{% url 'tasks:list_page' list.id %}" method=POST>
                {% csrf_token %}
                <input type='submit' name='archive-list' class='btn {% if list.archived %}btn-success{% else %}btn-dark{% endif %} btn-sm' value='{% if list.archived %}Reactivate this list!{% else %}Archive this list{% endif %}'>
            </form>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-6'>
            <div class='with-bg m-3 p-5'>
                <h2>Tasks</h2>
                {% for task in tasks %}
                    <div class='{% if task.done %}bg-light task{% else %}bg-dark task{% endif %} row my-2 py-2'>
                        <div class='col-md-4 text-left'><h4>{{ task.task_name }}</h4></div>
                        <div class='col-md-3 text-left'>
                        {{ task.time_start }} - {{ task.time_end}}
                        </div>
                        <div class='col-md-3 text-left'>
                            {% for i in task.importance|get_range %}
                            <i class="fas fa-star"></i>
                            {% endfor %}
                        </div> 
                        <div class='col-md-2'>
                        {% if task.done %}
                        <i class="fas fa-check-circle" style='color:rgb(43, 153, 49);font-size: 30px;'></i>
                        {% else %}
                            <form action="{% url 'tasks:list_page' list.id %}" method=POST>
                                {% csrf_token %}
                                <input type='hidden' name='task-done' value="{{ task.id }}">
                                <input type='submit' name='done-task' class='btn btn-primary' value='Task done'>
                            </form>
                        {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class='col-md-6'>
            <div class='with-bg m-3 p-5'>
                <h2>Add new task</h2>
                <form action="{% url 'tasks:list_page' list.id %}" method=POST>
                    {% csrf_token %}
                    <input class='mt-2 mb-2 form-control form-control-lg' type="text" name='task-name' placeholder="Task"><br>
                    
                    <div class="form-group row">
                        <label for='importance' class="col-2 col-form-label">Importance: </label>
                        <div class="col-10">
                            <div class="form-check form-check-inline">
                                <input type='radio' class="form-check-input" name='importance' value=1>
                                <label class="form-check-label" for="inlineRadio1">1</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type='radio' class="form-check-input" name='importance' value=2>
                                <label class="form-check-label" for="inlineRadio1">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type='radio' class="form-check-input" name='importance' value=3>
                                <label class="form-check-label" for="inlineRadio1">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type='radio' class="form-check-input" name='importance' value=4>
                                <label class="form-check-label" for="inlineRadio1">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type='radio' class="form-check-input" name='importance' value=5>
                                <label class="form-check-label" for="inlineRadio1">5</label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <label for='time-start' class="col-2 col-form-label pt-3">Time start: </label>
                        <div class="col-10">
                            <input class='mt-2 mb-2 form-control form-control-lg' type="time" name='time-start' placeholder="Time start">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for='time-end' class="col-2 col-form-label pt-3">Time end: </label>
                        <div class="col-10">
                            <input class='mt-2 mb-2 form-control form-control-lg' type="time" name='time-end' placeholder="Time end"><br>
                        </div>
                    </div>
                    <input class='mt-2 mb-4 btn btn-primary btn-lg btn-block' type="submit" name='add-task' value='Submit'><br>
                </form>
            </div>
        </div>
    </div>
    </div>
    </div>
{% endblock %}